<section id="footer" class="section bg-gray mt-4">
    <section class="container {{ grid_size }}">
        <div style="display: flex; gap: 1rem; margin-bottom: 1rem">
            <a>Datenschutz</a>
            <a>Impressum</a>
        </div>
        <p>Copyright 2023, Evangelische Freikirche Vineyard Landsberg am Lech e.V.</p>
    </section>
</section>
